@import "tailwindcss";
@font-face{
    font-family : "Lato";
    src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face{
    font-family : "Lato Bold";
    src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face{
    font-family : "Lato Light";
    src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face{
    font-family : "Lato Thin";
    src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
}

@font-face{
    font-family : "Montserrat";
    src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face{
    font-family : "Montserrat Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
    font-family : "Montserrat Light";
    src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face{
    font-family : "Montserrat Thin";
    src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
}

@theme{
    --font-lato : "Lato", sans-serif;
    --font-lato-bold : "Lato Bold", sans-serif;
    --font-lato-light : "Lato Light", sans-serif;
    --font-lato-thin : "Lato Thin", sans-serif;
    --font-montserrat : "Montserrat", sans-serif;
    --font-montserrat-bold : "Montserrat Bold", sans-serif;
    --font-montserrat-light : "Montserrat Light", sans-serif;
    --font-montserrat-thin : "Montserrat Thin", sans-serif;
}

.bg-manual-dark{
    background-color: #181f20;
}
.button:hover{
    background-color: #8E1616;
    transition: all 0.2s;
}
.bg-manual-red{
    background-color: #dc2525;
}
.text-manual-dark{
    color: #181f20;
}
.text-manual-red{
    color: #dc2525;
}
.text-manual-white{
    color: #EEEEEE;
}
.bg-image{
    background-image: url("./assets/images/mainHeader.png");
    background-size: cover;
    background-position: center;
}
.card-detail-gradient{
    /* absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #181f20, transparent);
}
.card-reason-gradient{
    position: absolute;
    bottom: -35%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, #dc2525, transparent);
}
.card-transition-gradient{
    /* absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black/70 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, #181f20, transparent);
}